{% extends "poll/base.html" %} {% block title %}Vote{% endblock %} {% block main
%}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cast Your Vote</h3>
      </div>
      <div class="panel-body">
        <h2>{{ poll.question }}</h2>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="radio">
              <label
                ><input type="radio" name="poll" value="option1" required /> {{
                poll.option_one }}</label
              ><br />
              <label
                ><input type="radio" name="poll" value="option2" /> {{
                poll.option_two }}</label
              ><br />
              <label
                ><input type="radio" name="poll" value="option3" /> {{
                poll.option_three }}</label
              >
            </div>
          </div>
          <hr />
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
